.header {
    margin: 0;
    padding: 0;
    background-color: #DC143C;
    position: relative;
    height: 8vh;

    nav {
        position: absolute;
        right: 0px;
        li {
            display: inline-block;
            padding-right: 20px;
            padding-top: 12px;
        }
    }
}

.pageTitle {
    color: #fff;
    font-size: 24px;
    a {
        position: absolute;
        display: inline-flex;
        left: 10px;
        padding-top: 12px;
    }
}