.footer {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    height: 30px;
    position: relative;
    nav {
        position: relative;
        text-align: center;
        padding-top: 8px;
    }
}